.preloader {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
  color: #333;
  position: fixed;
  bottom: 0;
  z-index: 55;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.texts-container {
  height: 60px;
}
